<div class="container">
    <br>
    <h4>Solicitud - Inspección</h4>
    <hr>
    
    <table class="table">
        <thead>
            <th>Nro</th>
            <th >Cliente </th>
            <th>Producto</th>
            <th>Producto crediticio</th>
            <th>Garantia</th>
        </thead>
        <tbody>

            <tr *ngFor="let item of solicitudList$! | async">
                <td>{{item.id}}</td>
                <td>{{item.customer.nameDoc}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.creditProduct.name}}</td>
                <td>{{item.assurance.name}}</td>
                <td>
                    <button class="btn btn-success btn-sm mx-1" (click)="approval(item.id)">Aprobar</button>
                    <button class="btn btn-secondary btn-sm mr-2">ver detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>




