

.dropdown {
  position: relative;
  display: inline-block;
}





.dropdown-content a:hover {background-color: #3e8e41;}

.dropdown:hover .dropdown-content {display: block; right: 0;
  left: auto;}

  .dropdown:hover .dropdown-content1 {display: block; }

.dropdown:hover .dropbtn {background-color: #3e8e41;}