<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" [routerLink]="['/dashboard']"  >
        <!--
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />-->
        CAYMAN
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
          <div class="dropdown-menu dropdown-content1" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/credito/area']" class="dropdown-item"  >Areas</a>
            <a [routerLink]="['/credito/rol']" class="dropdown-item" >Roles</a>
            <a [routerLink]="['/credito/usuario']" class="dropdown-item" >Usuarios</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Crédito
          </a>
          <div class="dropdown-menu dropdown-content1" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/cliente']" class="dropdown-item"  >Clientes</a>
            <a [routerLink]="['/solicitud']" class="dropdown-item" >Solicitud</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a [routerLink]="['/solicitud/inspeccion']"  class="nav-link" >Inspecciones</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/solicitud/aprobacion']" class="nav-link" >Aprobaciones</a>
        </li>
        
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creditos
          </a>
          <div class="dropdown-menu dropdown-content1" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        -->
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      
      <!-- Avatar -->
      <div class="dropdown">
        
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <div style="color: white; text-decoration: none;">{{userName}} &nbsp;</div>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-content"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">Mi pefil</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="Logout()">Salir</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->