<div class="container">
  <br>
  <h4>Clientes</h4>
  <hr>
  <div class="btn_new"><button [routerLink]="['/cliente']" class="btn btn-light btn-sm"><i class="bi bi-arrow-left"></i>
      Volver</button></div><br>
  <div class="row">

    <form (ngSubmit)="submit()" [formGroup]="firstFormGroup">

      <div *ngIf="step == 1">
        <h5>{{step}}/3 Información personal</h5>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo de documento</label>
          <select class="form-control" formControlName="docTypeId" [(ngModel)]="person.documentType">
            <option value="0" selected disabled>Seleccionar tipo de documento</option>
            <option *ngFor="let c of docTypes$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo de persona</label>
          <select class="form-control" formControlName="personTypeId" [(ngModel)]="person.personType">
            <option value="0" selected disabled>Seleccionar tipo de persona</option>
            <option *ngFor="let c of personTypes$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Número de documento</label>
          <!--
          <input type="text" class="form-control" formControlName="numDoc" placeholder="Numero de documento">
-->       
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="numDoc" [(ngModel)]="person.documentNumber" placeholder="Numero de documento" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="foundCustomer()">Buscar</button>
          </div>
          </div>
          
        </div>
        <div class="form-group">
          <label>Apellidos y nombres</label>
          <input type="text" class="form-control" formControlName="nameDoc" [(ngModel)]="nameFound"
            placeholder="Apellidos y nombres">
        </div>
        <div class="form-group">
          <label>Teléfono</label>
          <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono">
        </div>
        <div class="form-group">
          <label>Correo elétronico</label>
          <input type="text" class="form-control" formControlName="email" placeholder="Correo elétronico">
        </div>
      </div>

      <div *ngIf="step == 2">
        <h5>{{step}}/3 Informacion adicional</h5>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Departamento</label>
          <select class="form-control" (change)="getProvinces($event.target);">
            <option value="0" selected disabled>Seleccionar departamento</option>
            <option *ngFor="let c of departments$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Provincia</label>
          <select class="form-control" (change)="getDistricts($event.target);">
            <option value="0" selected disabled>Seleccionar provincia</option>
            <option *ngFor="let c of provinces$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Distrito</label>
          <select class="form-control" formControlName="districtId">
            <option value="0" selected disabled>Seleccionar distrito</option>
            <option *ngFor="let c of districts$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control" formControlName="address" placeholder="Dirección">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Estado civil</label>
          <select class="form-control" formControlName="civilId">
            <option value="0" selected disabled>Seleccionar estado civil</option>
            <option *ngFor="let c of civils$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Nivel de educación</label>
          <select class="form-control" formControlName="educationId">
            <option value="0" selected disabled>Seleccionar nivel de educación</option>
            <option *ngFor="let c of educations$" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="step == 3">
        <h5>{{step}}/3 Información tributaria</h5>
        <div class="form-group">
          <label>RUC</label>
          <input type="text" class="form-control" formControlName="ruc" placeholder="Ruc">
        </div>
        <div class="form-group">
          <label>Razón social</label>
          <input type="text" class="form-control" formControlName="nameRuc" placeholder="Razón social">
        </div>
        <div class="form-group">
          <label>Dirección RUC</label>
          <input type="text" class="form-control" formControlName="addressRuc" placeholder="Dirección Ruc">
        </div>
      </div>



      <br>
      <div class="form-group">
        <a class="btn btn-info mx-1" [class.disabled]="step==1" (click)="previous()"> <i class="bi bi-chevron-left"></i>
          Atrás</a>
        <a class="btn btn-info mx-1" [class.disabled]="step==3" (click)="next()"> Siguiente <i
            class="bi bi-chevron-right"></i></a>
        <button class="btn btn-success" type="submit" [disabled]="step!=3">Registrar cliente</button>
      </div>
      <br><br>
    </form>


  </div>
</div>